/* nav {
   background-color: rgb(53, 64, 84);
   width: 100%;
   height: 70px;
 } */

 ul {
   display: flex;
   list-style-type: none;
   font-size: 20px;
   justify-content: flex-end; 
   margin: 0px;
 }

 li {
   margin: 20px;
   font-family: Arial;
   color: rgb(255, 255, 255);

 }

.container {  
   display: flex;  
   background-color: rgb(158, 157, 157);
 }

 .search {  
   flex: 1;  
 }  

 .container > li {  
   flex: 1;  
 }

 @media all and (max-width: 600px) {  
   .container {  
     flex-wrap: wrap;  
   }  
   .container > li {  
     flex-basis: 50%;  
   }
 }

 @media all and (max-width: 400px) {  
   .container > li {  
     flex-basis: 100%;  
   }  
   .search {  
     order: 1;  
   }  
 }


#welcome-image {
   max-width:100%;
   height: 100vh;
   width: 100vw;
   opacity: 0.9; 
  }

  #website-title {
     color: rgb(85, 20, 41);
     font-size: xx-large;
     text-align: left;
     text-decoration: overline;
     letter-spacing: 3px;
     text-shadow: 2px 2px rgb(148, 96, 96);
  }

  .wine-card {
   text-align: left;
   border: grey solid 1px;
   padding: 1rem;
   width: 15rem;
   height: 25rem;
   display: inline-grid;
   margin: 1rem 2rem;
   box-shadow: 3px 4px rgb(145, 55, 55)
 }

 .wine-image {
   justify-self: center;
   max-width: 500px;
   height: 200px;
   /* height: 200px; 
   width: auto; */
 }
   
.hmpg-wine-btns {
   border: none;
   background-color: inherit;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
   display: inline-block;
   color: white;
   position: absolute;
   left: 0;
   top: 40%;
   width: 100%;
 }
 .hmpg-wine-btns:hover {background: rgba(238, 238, 238, 0.125);}


.red-wine-box{
   width: 10vh;
   position: absolute;
   bottom: 200px;
   left: 100px;
   background-color: rgb(158, 157, 157);
   color: white;
   padding: 100px;
   height: 10vh;
   font-family: 'Spartan' ;
}

.white-wine-box{
   width: 10vh;
   position: absolute;
   bottom: 200px;
   left: 400px;
   background-color: rgb(158, 157, 157);
   color: white;
   padding: 100px;
   height: 10vh;
   font-family: 'Spartan' ;
}

.sparkling-wine-box{
   width: 10vh;
   position: absolute; 
   bottom: 200px;
   left: 700px;
   background-color: rgb(158, 157, 157);
   color: white;
   padding: 100px;
   height: 10vh;
   font-family: 'Spartan' ;
}

.rose-wine-box{
   width: 10vh;
   position: absolute;
   bottom: 200px;
   left: 1000px;
   background-color: rgb(158, 157, 157);
   color: white;
   padding: 100px;
   height: 10vh;
   font-family: 'Spartan' ;
}

/* Individual Wine Page */
/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.wine-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

	
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Back to Wines */
.back-from-product-page {
  display: flex;
  align-items: center;
}
 
.back-from-product-page span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.back-btn {
  display: inline-block;
  background-color: rgb(85, 141, 200);
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #475985;
}


.large-format {
  justify-self: center;
  /* max-width: 500px; */
  /* height: 200px; */
  height: auto;
  width: 200px;
  padding-left: 75px;
}

